button {
  background: none;
}

body {
  background-color: #fafafa;
}

.page-link {
  margin: 20px;
}

a:link {
  text-decoration: none;
  color: darkcyan;
}

a:visited {
  text-decoration: none;
  color: darkcyan;
}

a:hover {
  text-decoration: none;
  color: orangered;
}

a:active {
  text-decoration: none;
  color: darkcyan;
}

*:focus {
  outline: none !important;
}
